sitemap.xml
*.log
wp-content/cache/
wp-content/backups/
sitemap.xml.gz
/shared
/local-config.php
/sql-dump-*.sql
/db-sync
/content/upgrade/
.DS_Store
/wp
/vendor
.project
composer.phar
*.lock
/wp-content/plugins
!/wp-content/plugins/index.php
wp-content/uploads/
wp-content/blogs.dir/
wp-content/upgrade/
wp-content/backup-db/
wp-content/advanced-cache.php
wp-content/wp-cache-config.php